html, body, #root {
    height: 100%;
    margin: 0;
    background: conic-gradient(rgb(20, 20, 35) 0.25turn, rgb(14, 14, 26) 0.25turn 0.5turn, rgb(20, 20, 35) 0.5turn 0.75turn, rgb(14, 14, 26) 0.75turn) 0px 0px / 40px 40px;
}